body{
	overflow: hidden;
}
.head {
	background:#4998d0 url(../../images/headerbg.png) top right no-repeat;
	height: 124px;
}
.logo {
	margin-top: 10px;
	margin-left: 10px;
}

.strong {
	font-weight: 800;
}